/* Variables */

@font-face {
    font-family: 'CalibreRegular';
    src:url('++resource++plonetheme.kunsthalkade/Calibre-Regular.eot?#iefix'), 
        url('++resource++plonetheme.kunsthalkade/Calibre-Regular.woff') format('woff'),
        url('++resource++plonetheme.kunsthalkade/Calibre-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibreLight';
    src:url('++resource++plonetheme.kunsthalkade/Calibre-Light.eot?#iefix'),
        url('++resource++plonetheme.kunsthalkade/Calibre-Light.woff') format('woff'),
        url('++resource++plonetheme.kunsthalkade/Calibre-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibreMedium';
    src:url('++resource++plonetheme.kunsthalkade/Calibre-Medium.eot?#iefix'),
        url('++resource++plonetheme.kunsthalkade/Calibre-Medium.woff') format('woff'),
        url('++resource++plonetheme.kunsthalkade/Calibre-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibreLightItalic';
    src:url('++resource++plonetheme.kunsthalkade/Calibre-LightItalic.eot?#iefix'),
        url('++resource++plonetheme.kunsthalkade/Calibre-LightItalic.woff') format('woff'),
        url('++resource++plonetheme.kunsthalkade/Calibre-LightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibreRegular';
    src:url('++resource++plonetheme.kunsthalkade/Calibre-Regular.eot?#iefix'),
        url('++resource++plonetheme.kunsthalkade/Calibre-Regular.woff') format('woff'),
        url('++resource++plonetheme.kunsthalkade/Calibre-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.CalibreRegular() {
    font-family: 'CalibreRegular', Arial, sans-serif;
}

.CalibreLight() {
    font-family: 'CalibreLight', Arial, sans-serif;
}

.CalibreMedium() {
    font-family: 'CalibreMedium', Arial, sans-serif;
}

.CalibreLightItalic() {
    font-family: 'CalibreLightItalic', Arial, sans-serif;
}

.CalibreRegular() {
    font-family: 'CalibreRegular', Arial, sans-serif;
}

.backendFont() {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

/* Website colors */
@brand-beige: #fbede7;
@brand-primary: #000000;
@brand-yellow: #fdf17b;
@brand-pink: #faa19d;
@brand-orange: #efad7d;
@brand-green: #83b697;
@brand-blue: #9ecae7;
@brand-gray: #666666;
@brand-lightgray: #8d8c8c;

/* Other colors (backend) - CMS */
@gray-dark: lighten(black, 25%);
@gray: lighten(black, 50%);
@white-faded: fade(white, 80%);
@gray-light: #eee;


